<h1 class="title" style="margin-left: 60px; color: mediumblue;">Reset Password</h1>

<div style="margin-left: 60px">
<%= form_tag password_resets_path, :method => :post do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="actions"><%= submit_tag "Reset Password" %></div>
<% end %>
</div>
