<% if is_mobile_view? %>
<h4 style="margin-left: 20px;"><span style="color:orangered">Stumweb</span><span style="color:mediumblue;">: the front page of New York City!</span></h4>
<% else %>
<h3 style="margin-left: 25px; width: 500px;"><span class="textshadow1" style="color:orangered; font-size: 120%;">Stumweb</span><span class="textshadow2" style="color:mediumblue; font-size: 95%;">: the front page of New York City!</span></h3>
<% end %>
<br>

<p style="margin-left: 25px;">Email: contact@stumweb.com</p>
